<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <meta charset="utf-8">
    <title>hola </title>
  </head>
  <body>
    <nav>
      <a href="/">
      <p class="ag-pr">Home</p><i class="fal fa-home-heart"></i></a>
      </a>
    </nav>
  <div class="wrapper">
    <h1>Agregar un producto</h1>
   <span>nombre
     <input class="titulo">
   </span>
   <span>imagen
     <input class="imagen">
   </span>
   <span>precio
     <input class="precio">
   </span>
  </div>
  <div class="button-wrapper">
    <button class="butt" type="button" name="button">send</button>
    <div class="button-out"> CERRAR SESION
    </div>
  </div>


    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
crossorigin="anonymous"></script>
    <script type="text/javascript" src="/javascripts/main.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  </body>
</html>
