<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <meta charset="utf-8">
    <title>hola </title>
  </head>
  <body>
    <nav>
      <a href="/">
      <p class="ag-pr">Home</p><i class="fal fa-home-heart"></i></a>
      </a>
    </nav>
  <div class="user-wrapper">
    <div class="user-container">
      <div class="title">
        <h3>User</h4>
      </div>
      <div class="user-cont">
        <input class="user" type="text" name="" value="">
      </div>
    </div>
    <div class="password">
      <div class="title">
        <h3>Password</h4>
      </div>
      <div class="input-user">
        <input class="pass" type="password" name="" value="">
      </div>
    </div>
  </div>
  <div class="button-wrapper">
    <div class="button"> SEND
    </div>
  </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
crossorigin="anonymous"></script>
    <script type="text/javascript" src="/javascripts/main.js"></script>
  </body>
</html>
