<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <meta charset="utf-8">
    <title>hola </title>
  </head>
  <body>
    <nav>
      <a href="/add">
      <p class="ag-pr">Agregar Producto</p><i class="far fa-angle-double-right"></i></a>
    </nav>
    <div class="main-wrapper">
      {{#each productos}}
      <div class="wrapper-prod">
        <div class="title">
          {{this.title}}
        </div>
        <div class="img-prod">
          <img src="{{this.img}}" alt=""/>
        </div>
        <div class="price">
          {{this.precio}}
        </div>
      </div>
      {{/each}}
    </div>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    crossorigin="anonymous"></script>
    <script type="text/javascript" src="/javascripts/main.js"></script>
  </body>
</html>
